.imageGallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-width: calc(100vw - 20px);
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 16px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 0px 5px;

  list-style: none;
}

.imageGalleryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 416px) {
  .imageGallery {
    grid-gap: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    list-style: none;
    margin: 40px auto;
    max-width: calc(100vw - 48px);
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
}
