.errorContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: calc(100vw - 40px);
  margin-top: 60px;
  margin-bottom: 60px;
  margin-right: auto;
  margin-left: auto;

  padding: 20px 20px;
  background-color: gainsboro;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 4px;

  /* width: 600px; */
}

@media screen and (min-width: 500px) {
  .errorContainer {
    width: 460px;
  }
}

.errorMessage {
  font-weight: 700;
  font-size: 17px;
  line-height: 1.1785714286;
  /* text-align: 'center'; */
  letter-spacing: 0.03em;
  color: #212121;
}

.title {
  text-align: center;
  margin: 0px;

  font-family: 'Roboto';
  font-weight: 700;
  font-size: 40px;
  line-height: 1.1785714286;
  text-align: 'center';
  letter-spacing: '.03em';
  color: '#212121';
}

.description_title {
  text-align: center;
  margin: 25px 0px 15px 0px;

  font-family: 'Roboto';
  font-weight: normal;
  font-size: 20px;
  line-height: 1.1785714286;
  text-align: 'center';
  letter-spacing: '.03em';
  color: '#212121';
}

.description__name {
  text-align: center;
  font-family: 'Roboto' sans-serif;
  font-weight: normal;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .description__name {
    font-family: 'Roboto' sans-serif;
    font-weight: normal;
    font-size: 17px;
  }
}

.description__list {
  margin-top: 0px;
}

@media screen and (min-width: 480px) {
  .description__list {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .description__item {
    font-family: 'Roboto' sans-serif;
    font-weight: normal;
    font-size: 17px;
  }
}
